<!-- Start of #section-tables -->
<section id="section-tables" aria-labelledby="title-tables">
  <h2 id="title-tables">Tables</h2>

  <table>
    <caption>
      Academy Awards for Best Picture
      <span class="table__summary">Descriptions of the film title, production company(s), and producers for the years 1980-1989.</span>
    </caption>
    <colgroup>
      <col />
      <col />
      <col span="2" />
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Film</th>
        <th scope="col">Year</th>
        <th scope="col">Production Company(s)</th>
        <th scope="col">Producer(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Ordinary People</th>
        <td>1980</td>
        <td>Paramount</td>
        <td>Ronald L. Schwary</td>
      </tr>
      <tr>
        <th scope="row">Chariots of Fire</th>
        <td>1981</td>
        <td>Enigma Film Productions</td>
        <td>David Puttnam</td>
      </tr>
      <tr>
        <th scope="row">Gandhi</th>
        <td>1982</td>
        <td>Columbia</td>
        <td>Richard Attenborough</td>
      </tr>
      <tr>
        <th scope="row">Terms of Endearment</th>
        <td>1983</td>
        <td>Paramount</td>
        <td>James L. Brooks</td>
      </tr>
      <tr>
        <th scope="row">Amadeus</th>
        <td>1984</td>
        <td>Orion</td>
        <td>Saul Zaentz</td>
      </tr>
      <tr>
        <th scope="row">Out of Africa</th>
        <td>1985</td>
        <td>Universal, Mirage Enterprises</td>
        <td>Sydney Pollack</td>
      </tr>
      <tr>
        <th scope="row">Platoon</th>
        <td>1986</td>
        <td>Orion, Hemdale</td>
        <td>Arnold Kopelson</td>
      </tr>
      <tr>
        <th scope="row">The Last Emperor</th>
        <td>1987</td>
        <td>Recorded Picture Company, Yanco Films, TAO Films, AAA, Soprofilms</td>
        <td>Jeremy Thomas</td>
      </tr>
      <tr>
        <th scope="row">Rain Man</th>
        <td>1988</td>
        <td>United Artists</td>
        <td>Mark Johnson</td>
      </tr>
      <tr>
        <th scope="row">Driving Miss Daisy</th>
        <td>1989</td>
        <td>Warner Bros.</td>
        <td>Richard D. Zanuck, Lili Fini Zanuck</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">For the first six ceremonies, the eligibility period spanned two calendar years.</td>
      </tr>
    </tfoot>
  </table>

  <h3 id="notes-tables">Notes:</h3>
  <p>
    <small>Use <code translate="no">id</code> and <code translate="no">header</code> attributes for tables with complicated markup (colspans, row headers, etc.).</small>
  </p>
</section>
<!-- End of #section-tables -->
