<section id="section__interactive" aria-labelledby="title__interactive"><!-- Start of #section__interactive -->
    <h2 id="title__interactive">Interactive</h2>

    <h3 id="subsection__details">Details</h3><!-- Start of #subsection__details -->
    <details>
        <summary>What payment options do you accept?</summary>
        <p>We accept cash, Visa, American Express, money orders, and personal checks.</p>
    </details>

    <h4>Notes:</h4>
    <p>
        <small>The <code>details</code> element is currently not supported by Microsoft Edge or Internet Explorer. These browsers will <a rel="external noopener" href="https://css-tricks.com/quick-reminder-that-details-summary-is-the-easiest-way-ever-to-make-an-accordion/">display the content in an opened state</a>, as if the <code>open</code> attribute was applied.</small>
    </p>
<!-- End of #subsection__details -->


</section><!-- End of #section__interactive -->
