<footer id="section__credit" role="contentinfo" aria-labelledby="title__credit"><!-- Start of #section__credit -->
    <h2 id="title__credit">Credit</h2>

    <p>
        Inspired by <a rel="external noopener" href="http://mrmrs.cc/">Adam Morse</a>'s <a rel="external noopener" href="https://github.com/mrmrs/html"><cite>mrmrs/html</cite></a>.
    </p>
</footer><!-- End of #section__credit -->
