<section id="section__text-level" role="region" aria-labelledby="title__text-level"><!-- Start of #section__text-level -->
    <h2 id="title__text-level">Text-level</h2>

    <div id="subsection__content" role="region" aria-labelledby="subtitle__content"><!-- Start of #subsection__content -->
        <h3 id="subtitle__content">Content</h3>
        <p>
            And he <em>looked</em> over at <strong>the alarm clock</strong>, ticking on the <i>chest</i> of <b>drawers</b>. "God in <u>Heaven</u>!" he <s>thought</s>. It was <small>half past six</small> and the <abbr>hands</abbr> were <q>quietly moving forwards</q>, it was even later <cite>than half past</cite>, more <dfn>like quarter to seven</dfn>. Had the <sub>alarm</sub> clock not <sup>rung</sup>? He <time>could</time> see from the <code>bed that it had been set</code> for four <kbd>o'clock</kbd> as it <samp>should</samp> have <var>been</var>; it <mark>certainly</mark> must have rung.
        </p>
        <blockquote>
            <p>
                "Yes, mother, yes, thank-you, I'm getting up now."
            </p>
            <footer>
                <cite>Gregor Samsa</cite>
            </footer>
        </blockquote>
        <p>
            Yes, but was it <bdi>possible</bdi> to <bdo>quietly</bdo> sleep <ruby>through</ruby> that <rt>furniture-rattling</rt> noise? <rp>True</rp>, he <span>had not slept</span> peacefully, but <del>probably</del> all the more <ins>deeply</ins> because of that. What should he do now? The next train went at seven; if he were to catch that he would have to rush like mad and the collection of samples was still not packed, and he did not at all feel particularly fresh and lively.
        </p>
    </div><!-- End of #subsection__content -->
    <div id="subsection__links" role="region" aria-labelledby="subtitle__links"><!-- Start of #subsection__links -->
        <h3 id="subtitle__links">Links</h3>
        <p>
            And even if he did catch the <a href="#">train</a> he would not avoid his boss's anger as the <a href="#" rel="external noopener">office assistant</a> would have been there to see the five o'clock train go, he would have put in his report about <a href="https://twitter.com/twitter" rel="external noopener">Gregor</a>'s not being there a long time ago. The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be <a href="#">extremely strained and suspicious as in fifteen years of service Gregor had never once yet been ill</a>. His boss would certainly come round with the doctor from the medical insurance company, accuse his parents of having a lazy son, and accept the doctor's recommendation not to make any claim as the doctor believed that no-one was ever ill but that many were workshy. And what's more, would he have been entirely wrong in this case? Gregor did in fact, apart from excessive sleepiness after sleeping for so long, feel completely well and even felt much hungrier than usual.
        </p>
        <a href="#">
            <h2>Block-level link title</h2>
            <p>
                He was still hurriedly thinking all this through, unable to decide to get out of the bed, when the clock struck quarter to seven. There was a cautious knock at the door near his head. "Gregor", somebody called - it was his mother - "it's quarter to seven. Didn't you want to go somewhere?
            </p>
        </a>
    </div><!-- End of #subsection__links -->
    <div id="subsection__lists" role="region" aria-labelledby="subtitle__lists"><!-- Start of #subsection__lists -->
        <h3 id="subtitle__lists">Lists</h3>
        <h3>Unordered List</h3>
        <ul>
            <li>Apple</li>
            <li>Apricot</li>
            <li>Avocado
                <ul>
                    <li>Fuerte</li>
                    <li>Gwen</li>
                    <li>Hass</li>
                    <li>Pinkerton</li>
                    <li>Reed</li>
                </ul>
            </li>
            <li>Banana
                <ol>
                    <li>Cavendish</li>
                    <li>Red Dacca</li>
                    <li>Gros Michel</li>
                    <li>East African Highland</li>
                    <li>Bodles Altafort</li>
                </ol>
            </li>
            <li>Bilberry</li>
            <li>Blackberry</li>
            <li>Blackcurrant</li>
        </ul>
        <h3>Ordered List</h3>
        <ol>
            <li>Alabama</li>
            <li>Alaska</li>
            <li>Arizona
                <ul>
                    <li>Phoenix</li>
                    <li>Tucson</li>
                    <li>Mesa</li>
                    <li>Chandler</li>
                    <li>Glendale</li>
                </ul>
            </li>
            <li>Arkansas</li>
            <li>California</li>
            <li>Colorado</li>
            <li>Connecticut
                <ol>
                    <li>Bridgeport</li>
                    <li>New Haven</li>
                    <li>Hartford</li>
                    <li>Stamford</li>
                    <li>Waterbury</li>
                </ol>
            </li>
            <li>Delaware </li>
            <li>Florida</li>
            <li>Georgia</li>
        </ol>
        <h3>Definition List</h3>
        <dl>
            <dt>Alternate Character/Glyph</dt>
            <dd>
                A non-standard (sometimes decorative) variation of a character that comes as an extra option with a font file.
            </dd>
            <dt>Baseline</dt>
            <dd>
                The imaginary line on which most letters and other characters sit.
            </dd>
            <dt>Character</dt>
            <dd>
                An individual symbol of the full character set that makes up a typeface; may take the form of a letter, number, punctuation mark, etc.
            </dd>
            <dt>Serif</dt>
            <dd>
                A short line or stroke attached to or extending from the open ends of a letterform; also refers to the general category of typefaces that have been designed with this feature.
            </dd>
            <dt>Sans-Serif</dt>
            <dd>
                Literally “without line”; the general category of typefaces (or an individual typeface) designed without serifs.
            </dd>
        </dl>
    </div><!-- End of #subsection__lists -->
    <div id="subsection__code" role="region" aria-labelledby="subtitle__code"><!-- Start of #subsection__code -->
        <h3 id="subtitle__code">Code</h3>
        <code>
            <pre>
sudo ipfw pipe 1 config bw 256KByte/s
sudo ipfw add 1 pipe 1 src-port 3000
            </pre>
        </code>
        <samp>
            <pre>
~/Sites/boilerplate
❦ ☢ ☭ ☂ ♞

$ <kbd>ls -gto</kbd>

total 88
-rw-r--r-- 1 eric staff  6148 Mar 24 11:50 .DS_Store
drwxr-xr-x 9 eric staff   306 Mar 24 13:36 .git/
-rw-rw-r-- 1 eric staff   862 Oct 13 14:38 .gitignore
-rw-r--r-- 1 eric staff   472 Feb 22 20:58 .htmlhintrc
-rw-r--r-- 1 eric staff  1068 Mar 24 10:57 LICENSE
-rw-r--r-- 1 eric staff  4865 Mar 24 13:34 README.md
-rw-r--r-- 1 eric staff 58601 Mar 24 11:50 index.html
            </pre>
        </samp>
    </div><!-- End of #subsection__code -->
    <div id="subsection__symbols" role="region" aria-labelledby="subtitle__symbols"><!-- Start of #subsection__symbols -->
        <h3 id="subtitle__symbols">Symbols</h3>
        <ul>
            <li><span role="definition" aria-label="Plus">+</span></li>
            <li><span role="definition" aria-label="Minus">−</span></li>
            <li><span role="definition" aria-label="Plus or minus">±</span></li>
            <li><span role="definition" aria-label="Divided by">÷</span></li>
            <li><span role="definition" aria-label="Multiplied by">×</span></li>
            <li><span role="definition" aria-label="Less than">&lt;</span></li>
            <li><span role="definition" aria-label="Less than or equal to">≤</span></li>
            <li><span role="definition" aria-label="Greater than">&gt;</span></li>
            <li><span role="definition" aria-label="Greater than or equal to">≥</span></li>
            <li><span role="definition" aria-label="Equals">=</span></li>
            <li><span role="definition" aria-label="Approximately equals">≈</span></li>
            <li><span role="definition" aria-label="Not equals">≠</span></li>
        </ul>
        <p>
            <small>Note: Certain screen readers will not <a rel="external noopener" href="http://www.deque.com/blog/dont-screen-readers-read-whats-screen-part-1-punctuation-typographic-symbols/">read certain symbols out loud</a>. Use <code>role="definition"</code> in conjunction with <code>aria-label</code> to ensure the symbol is read.</small>
        </p>
    </div><!-- End of #subsection__symbols -->
    <div id="subsection__emoji" role="region" aria-labelledby="subtitle__emoji"><!-- Start of #subsection__emoji -->
        <h3 id="subtitle__emoji">Emoji</h3>
        <ul>
            <li><span role="img" aria-label="Peach emoji">🍑</span></li>
            <li><span role="img" aria-label="Smiling cat face emoji">😺</span></li>
            <li><span role="img" aria-label="Tophat emoji">🎩</span></li>
            <li><span role="img" aria-label="Snowman emoji">⛄️</span></li>
            <li><span role="img" aria-label="Beer emoji">🍺</span></li>
        </ul>
        <p>
            <small>Note: Certain screen readers will not <a rel="external noopener" href="http://tink.uk/accessible-emoji/">expose emoji as images in the accessibility treee</a>. Use <code>role="img"</code> in conjunction with <code>aria-label</code> to ensure the symbol is read.</small>
        </p>
    </div><!-- End of #subsection__emoji -->
</section><!-- End of #section__text-level -->
