<nav id="section__table-of-contents" role="navigation" aria-labelledby="title__table-of-contents"><!-- Start of #section__table-of-contents -->
    <h2 id="title__table-of-contents">Table of Contents</h2>
    <ul>
        <li><a href="#section__about">About</a></li>
        <li><a href="#section__headings">Headings</a></li>
        <li><a href="#section__text-level">Text-level</a>
            <ul>
                <li><a href="#subsection__content">Content</a></li>
                <li><a href="#subsection__lists">Lists</a></li>
                <li><a href="#subsection__links">Links</a></li>
                <li><a href="#subsection__code">Code</a></li>
                <li><a href="#subsection__symbols">Symbols</a></li>
            </ul>
        </li>
        <li><a href="#section__tables">Tables</a></li>
        <li><a href="#section__embedded">Embedded</a></li>
            <ul>
                <li><a href="#subsection__image">Image</a></li>
                <li><a href="#subsection__broken-image">Broken Image</a></li>
                <li><a href="#subsection__figure-with-caption">Figure with Caption</a></li>
                <li><a href="#subsection__picture">Picture</a></li>
                <li><a href="#subsection__image-with-srcset-and-sizes">Image with Srcset and Sizes</a></li>
                <li><a href="#subsection__iframe">Iframe</a></li>
                <li><a href="#subsection__audio">Audio</a></li>
                <li><a href="#subsection__video">Video</a></li>
                <li><a href="#subsection__object">Object</a></li>
                <li><a href="#subsection__canvas">Canvas</a></li>
            </ul>
        <li><a href="#section__forms">Forms</a>
            <ul>
                <li><a href="#subsection__text-input">Text Input</a></li>
                <li><a href="#subsection__non-text-input">Non-text Input</a></li>
                <li><a href="#subsection__select">Select</a></li>
                <li><a href="#subsection__checkboxes-and-radios">Checkboxes and Radio Buttons</a></li>
                <li><a href="#subsection__buttons">Buttons</a></li>
                <li><a href="#subsection__output">Output</a></li>
                <li><a href="#subsection__lockup">Lockup</a></li>
                <li><a href="#subsection__states-and-validation">States and Validation</a></li>
                <li><a href="#subsection__autocomplete">Autocomplete</a></li>
            </ul>
        </li>
        <li><a href="#section__credit">Credit</a></li>
    </ul>
</nav><!-- End of #section__table-of-contents -->
