<!-- Start of #section-interactive -->
<section id="section-interactive" aria-labelledby="title-interactive">
  <h2 id="title-interactive">Interactive</h2>

  <!-- Start of #subsection-details -->
  <h3 id="subsection-details">Details</h3>
  <details>
    <summary>What payment options do you accept?</summary>
      <p>We accept cash, Visa, American Express, money orders, and personal checks.</p>
  </details>

  <h4 id="notes-details">Notes:</h4>
  <p>
    <small>The <code translate="no">details</code> element is currently not supported by Microsoft Edge or Internet Explorer. These browsers will <a rel="external noopener" href="https://css-tricks.com/quick-reminder-that-details-summary-is-the-easiest-way-ever-to-make-an-accordion/">display the content in an opened state</a>, as if the <code translate="no">open</code> attribute was applied.</small>
  </p>
  <!-- End of #subsection-details -->

  <!-- Start of #subsection-dialog -->
  <h3 id="subsection-dialog">Dialog</h3>
  <dialog
    open
    id="dialog">
    <h2>This is a dialog title</h2>
    <p>This is dialog content.</p>
    <button type="button">
      Close
    </button>
  </dialog>

  <h4 id="notes-dialog">Notes:</h4>
  <p>
    <small>The <code translate="no">dialog</code>'s interactivity needs to be controlled with JavaScript.</small>
  </p>
  <!-- End of #subsection-dialog -->
</section>
<!-- End of #section-interactive -->
