<!-- Start of #section-credit -->
<footer id="section-credit" role="contentinfo">
  <h2 id="title-credit">Credit</h2>
  <p>
    Inspired by <a rel="external noopener" href="http://mrmrs.cc/">Adam Morse</a>'s <a rel="external noopener" href="https://github.com/mrmrs/html"><cite>mrmrs/html</cite></a>.
  </p>
</footer>
<!-- End of #section-credit -->
