<section id="section__embedded" role="region" aria-labelledby="title__embedded"><!-- Start of #section__embedded -->
    <h2 id="title__embedded">Embedded</h2>

    <h2 id="subsection__image">Image</h2><!-- Start of #subsection__image -->
    <img
        src="http://placehold.it/600x400?text=Image+Example"
        alt="Image Exmaple" /><!-- End of #subsection__image -->

    <h2 id="subsection__broken-image">Broken Image</h2><!-- Start of #subsection__broken-image -->
    <img
        src="nope"
        alt="Broken Image" /><!-- End of #subsection__broken-image -->

    <h2 id="subsection__figure-with-caption">Figure with Caption</h2><!-- Start of #subsection__figure-with-caption -->
    <figure>
        <img
            src="http://placehold.it/400x250?text=Figure+Example"
            alt="Figure Example" />
        <figcaption>
            An example figure caption.
        </figcaption>
    </figure><!-- End of #subsection__figure-with-caption -->

    <h2 id="subsection__picture">Picture</h2><!-- Start of #subsection__picture -->
    <picture>
        <source
            media="(min-width: 40em)"
            srcset="http://placehold.it/800x450/7ED321/ffffff/?text=1x+Source+w/Breakpoint+Example 1x,
                    http://placehold.it/800x600/7ED321/ffffff/?text=2x+Source+w/Breakpoint+Example 2x" />
        <source
            srcset="http://placehold.it/500x250/F5A623/ffffff/?text=1x+Source+Example 1x,
                    http://placehold.it/500x250/F5A623/ffffff/?text=2x+Source+Example 2x" />
        <img
            src="http://placehold.it/600x400?text=Img+Fallback"
            alt="Picture Element" />
    </picture><!-- End of #subsection__picture -->

    <h2 id="subsection__image-with-srcset-and-sizes">Image with Srcset and Sizes</h2><!-- Start of #subsection__image-with-srcset-and-sizes -->
    <img
        srcset="http://placehold.it/1024x768/7ED321/ffffff/?text=Large 1024w,
                http://placehold.it/1024x768/F5A623/ffffff/?text=Medium 640w,
                http://placehold.it/320x240/50E3C2/ffffff/?text=Small 320w"
        sizes="(min-width: 36em) 50vw, 100vw"
        src="http://placehold.it/600x400?text=Img+Fallback"
        alt="Image with Srcset and Sizes Example" /><!-- End of #subsection__image-with-srcset-and-sizes -->

    <h2 id="subsection__iframe">Iframe</h2><!-- Start of #subsection__iframe -->
    <iframe
        src="about:blank"
        title="about:blank"
        name="iframe"><!-- End of #subsection__iframe -->
    </iframe>

    <h2 id="subsection__audio">Audio</h2><!-- Start of #subsection__audio -->
    <audio controls>
        <source
            src="http://www.noiseaddicts.com/samples_1w72b820/4353.mp3"
            type="audio/mp3" />
        <source
            src="http://www.noiseaddicts.com/samples_1w72b820/4353.ogg"
            type="audio/ogg" />
        <source
            src="http://www.noiseaddicts.com/samples_1w72b820/4353.wav"
            type="audio/wav" />
        <track
            src="http://www.noiseaddicts.com/samples_1w72b820/4353.wav/caption.en.vtt"
            label="English"
            srclang="en"
            kind="captions" />
        Your browser does not support the <code>&lt;audio&gt;</code> element.
        Please <a rel="external noopener" href="http://browsehappy.com/">consider upgrading your browser</a> or <a download href="http://www.noiseaddicts.com/samples_1w72b820/4353.mp3">download a file</a> for offline listening.
    </audio><!-- End of #subsection__audio -->

    <h2 id="subsection__video">Video</h2><!-- Start of #subsection__video -->
    <video
        controls
        poster="http://placehold.it/854x480?text=Video+Poster">
        <source
            src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"
            type="video/mp4" />
            <source
                src="http://clips.vorwaerts-gmbh.de/VfE.webm"
                type="video/webm" />
        <source
            src="http://clips.vorwaerts-gmbh.de/VfE.ogv"
            type="video/ogg" />
        <track
            src="https://archive.org/download/WebmVp8Vorbis/caption.en.vtt"
            label="English"
            srclang="en"
            kind="captions" />
        Your browser does not support the <code>&lt;video&gt;</code> element.
        Please <a rel="external noopener" href="http://browsehappy.com/">consider upgrading your browser</a> or <a download href="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4">download a file</a> for offline viewing.
    </video><!-- End of #subsection__video -->

    <p>
        <small>Note: Accessibility errors concerning the video's missing audio description should go away once the <code>&lt;track&gt;</code>'s source is linked to a valid caption file.</small>
    </p>

    <h2 id="subsection__object">Object</h2><!-- Start of #subsection__object -->
    <object>
        <param
            name="movie"
            value="http://www.youtube.com/v/pDHzK3Xe7Yw?fs=1&amp;hl=en_GB">
        </param>
        <param
            name="allowFullScreen"
            value="true">
        </param>
        <param
            name="allowscriptaccess"
            value="always">
        </param>
        <embed
            src="http://www.youtube.com/v/pDHzK3Xe7Yw?fs=1&amp;hl=en_GB"
            type="application/x-shockwave-flash"
            allowscriptaccess="always"
            allowfullscreen="true"
            width="640"
            height="390">
        </embed>
        Your browser does not support the <code>&lt;object&gt;</code> element.
        Please <a rel="external noopener" href="http://browsehappy.com/">consider upgrading your browser</a> or <a rel="external noopener" href="https://www.youtube.com/watch?v=pDHzK3Xe7Yw">view the video on YouTube</a>.
    </object><!-- End of #subsection__object -->

    <h2 id="subsection__canvas">Canvas</h2><!-- Start of #subsection__canvas -->
    <canvas
        id="myCanvas"
        width="400"
        height="400">
        Your browser does not support the <code>&lt;canvas&gt;</code> element.
        Please <a rel="external noopener" href="http://browsehappy.com/">consider upgrading your browser</a>.
    </canvas><!-- End of #subsection__canvas -->
</section><!-- End of #section__embedded -->
