<!-- Start of #section-table-of-contents -->
<nav id="section-table-of-contents" aria-labelledby="title-table-of-contents">
  <h1>Accessible HTML Content Patterns</h1>
  <h2 id="title-table-of-contents">Table of Contents</h2>

  <ol>
    <li><a href="#section-about">About</a></li>
    <li><a href="#section-headings">Headings</a></li>
    <li><a href="#section-text-level">Text-level</a>
      <ol>
        <li><a href="#subsection-content">Content</a></li>
        <li><a href="#subsection-lists">Lists</a></li>
        <li><a href="#subsection-links">Links</a></li>
        <li><a href="#subsection-code">Code</a></li>
        <li><a href="#subsection-symbols">Symbols</a></li>
        <li><a href="#subsection-emoji">Emoji</a></li>
      </ol>
    </li>
    <li><a href="#section-tables">Tables</a></li>
    <li><a href="#section-interactive">Interactive</a>
      <ol>
        <li><a href="#subsection-details">Details</a></li>
        <li><a href="#subsection-dialog">Dialog</a></li>
      </ol>
    </li>
    <li><a href="#section-embedded">Embedded</a>
      <ol>
        <li><a href="#subsection-image">Image</a></li>
        <li><a href="#subsection-broken-image">Broken Image</a></li>
        <li><a href="#subsection-figure-with-caption">Figure with Caption</a></li>
        <li><a href="#subsection-inline-svg">Inline <abbr>SVG</abbr></a></li>
        <li><a href="#subsection-picture">Picture</a></li>
        <li><a href="#subsection-image-with-srcset-and-sizes">Image with Srcset and Sizes</a></li>
        <li><a href="#subsection-iframe">Iframe</a></li>
        <li><a href="#subsection-audio">Audio</a></li>
        <li><a href="#subsection-video">Video</a></li>
        <li><a href="#subsection-object">Object</a></li>
        <li><a href="#subsection-canvas">Canvas</a></li>
      </ol>
    </li>
    <li><a href="#section-forms">Forms</a>
      <ol>
        <li><a href="#subsection-text-input">Text Input</a></li>
        <li><a href="#subsection-non-text-input">Non-text Input</a></li>
        <li><a href="#subsection-select">Select</a></li>
        <li><a href="#subsection-checkboxes-and-radios">Checkboxes and Radio Buttons</a></li>
        <li><a href="#subsection-buttons">Buttons</a></li>
        <li><a href="#subsection-output">Output</a></li>
        <li><a href="#subsection-lockup">Lockup</a></li>
        <li><a href="#subsection-states-and-validation">States and Validation</a></li>
        <li><a href="#subsection-autocomplete">Autocomplete</a></li>
      </ol>
    </li>
    <li><a href="#section-credit">Credit</a></li>
  </ol>
</nav>
<!-- End of #section-table-of-contents -->
