<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Accessible HTML Content Patterns</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
{{> section.project-link}}

{{> section.table-of-contents}}

<hr />

{{> section.about}}

<hr />

<!-- Start of #main -->
<main id="main" tabindex="-1">

{{> section.headings}}

<hr />

{{> section.text-level}}

<hr />

{{> section.tables}}

<hr />

{{> section.interactive}}

<hr />

{{> section.embedded}}

<hr />

{{> section.forms}}

</main>
<!-- End of #main -->

<hr />

{{> section.footer}}

</body>
</html>
